@charset "UTF-8";


/*VERSÃO PARA TABLET*/
@media screen and (min-width: 768px) and (max-width: 992px ) {
    #login{
        width: 80vw;
        height: 300px;
    }

    #login > #img{
        float: right;
        height: 400px;
        width: 50%;

        background-position: center center;
        background-size: cover;
    }

    #login > #form{
        float: left;
        width: 40%;
        text-align: center;
        padding-left: 6%;
        padding-top: 5%;
    }

    #form > p{
        padding-bottom: 3%;
    }

}


/*VERSÃO PARA GRANDES TELAS*/
@media screen and (min-width: 992px){
    #login{
        width: 60vw;
        height: 400px;
    }

    #login >  #img{
        float: left;
        width: 50%;
        height: 100%;
    }

    #login > #form{
        padding-top: 10%;
        padding-left: 1%;
    }
    
    #form > p{
        padding-bottom: 3%;
    }

}