@charset "UTF-8";

/*
PALETA DE CORES
AZUL 1: #0B6BBF
AZUL 2: #0B7ABF
AZUL 3: #143340
VERDE: #1A7317
BEGE: #D9B282
*/

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body{
    background-image: linear-gradient(to left,#063158, #084f7b, #143340);
    

    /*
    background-color: #143340;
    background: url(../imagens/fundo-login.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    */
    width: 100vw;
    height: 100vh;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

#login{ 
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-image: linear-gradient(to left,#063158, #084f7b, #143340);
    width: 400px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.315);

    transform: translate(-50%, -50%);
    transition: width 1s, height 1s;
    transition-timing-function: ease;
}  
#login > #img{
    background: url(../imagens/fundo-login.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 200px;
    display: block;
}

#login > #form{
    display: inline-block;
}

#form > h1{
    text-align: center;
    padding: 5px;
    color: #babee6b9;
}

#form > p{
    text-align: center;
    color: #babee6c8;
}

.campo{
    background-color: #143340;
    padding: 8px;
    margin: 2px;
    height: 40px;
    border: 2px solid rgba(255, 255, 255, 0.374);
    border-radius: 10px;

}

.campo > input{
    width: calc(100% - 40px);
    transform: translateY(-13px);
    background-color: #143340;
    border:none;
    height: 30px;
    padding-top: 10px;
    border-radius: none;
    
}

.campo > input[type=email]{
    color: #ffffff;
    text-align: center;
    background-color:#143340;
}

.campo > input[type=password]{
    color: #ffffff;
    text-align: center;
    background-color:#143340;
}

.campo > span{
    color: #babee6ac;
    width: 35px;
    font-size: 2em;
    transform: translate(-5px, -5px);
    background-color: #234b64;
    border-radius: 5px;
}

form > input[type=submit]{
    background-color: #143340;
    color: rgb(189, 188, 188);
    display: block;
    margin: auto;
    padding: 8px;
    margin-top: 8px;
    border-radius: 10px;
    cursor: pointer;
}

form > input[type=submit]:hover{
    color: rgb(42, 100, 171);
    background-color: #032438;
    border: 2px solid #39c2e0ae;
    transition: .3s;
}

form > .esqueci{
    color: #39c8e5ae;
    display: block;
    margin: auto;
    padding-top: 12px;
    text-decoration: none;
    font-size: 0.9em;
    width: 140px;
}

form > .esqueci:hover{
    text-decoration: underline;
    color:  #a5dce9;
}
